#message {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
<<<<<<< HEAD
=======
  z-index: 9999;
>>>>>>> bc3d50a (This is a new commit for what I originally planned to be amended)
}
#inner-message {
  margin: 0 auto;
}